<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JIJI</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Libraries CSS Files -->
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../lib/hover/hover.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="../css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.png">


</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav">
    
      <div class="container-fluid" style="background: black;">
        
        <div class="row">         
          <div class="col-12 col-sm-12 col-lg-3">
            <!-- <a href="index.html"><img src="images/logo.png" alt="logo"></a> -->
            <h1 class="type_menu">jiji<span class="typed "></span></h1>
          </div>
          
          <div class="col-9 col-sm-8 col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#header" class="smoothScroll">Home</a></li>
              <li><a href="#about" class="smoothScroll">Quienes somos</a></li>
              <li><a href="#portfolio" class="smoothScroll">Portafolio</a></li>
              <li><a href="#journal" class="smoothScroll">Novedades</a></li>
              <li><a href="#contact" class="smoothScroll">Contactenos</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-4 col-lg-3 align-items-center">
            <div class="row">
              <div class="col-8 huellas">
                <img src="../images/huella3a.jpg" alt="error">
              </div>
              <div class="col-4 justify-content-center" id="inicio-sesion">
                <ul>
                  <li><a href="#inicio-modal" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">INICIAR</a></li>
                  <li><a href="../registro.html">REGISTRATE</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </nav>

    <!-- Login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">   
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inicio de Sesion</h5>
            <button type="button" class="close-login" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Usuario" id="usuario-login">
              </div>
              <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" id="contraseña-login">
                      </div>
            </form>
          </div>
          <div class="modal-footer ">
            <ul class="nav-menu list-unstyled text-center" >
              <li class="d-inline pr-5">Inicio</li>
              <li class="d-inline pr-2"><a href="registro.html">Registrate</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/typed/typed.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../js/main.js"></script>

</body>

</html>
